<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Spaces" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->


  <div class="card ">
    <div class="card-body py-2">
      <button type="button" class="btn btn-light add-btn float-end" data-bs-toggle="modal" id="create-btn"
data-bs-target="#showModal" (click)="openModal(content)"><i
    class="ri-add-line align-bottom me-1"></i> Add Space</button>

    </div><!--end card-body-->
</div><!--end card-->
<div class="row" *ngIf="spaces$ | async as spaces">
  <div class="col-sm-6 col-xl-3" *ngFor="let space of spaces.spaces">
    <!-- Simple card -->
  <div class="card">
    <div class="card-header">
        <div class="d-flex mb-1">
            <h4 class="fs-15 flex-grow-1 mt-2 text-truncate task-title text-uppercase">{{space.name}}</h4>
            <div class="text-primary">
                <span (click)="loadLeads(space)" class="btn btn-soft-info">see leads</span>
              </div>

        </div>            
    </div>
        <div class="card-body">
            <p class="text-muted">{{space.description}}</p>
        </div>
    </div><!-- end card -->
</div><!-- end col -->
</div>

<ng-template #content role="document" let-modal>
  <div class="modal-header bg-primary p-3">
      <h5 class="modal-title text-white" id="exampleModalLabel">Add Space</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"
          id="close-modal" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="saveSpace()" [formGroup]="spaceForm" class="tablelist-form" autocomplete="off">
      <div class="modal-body">
          <div class="row g-3">
              <div class="col-lg-12">
                  <div>
                      <label for="name-field" class="form-label">Space Name</label>
                      <input type="text" id="customername-field" class="form-control"
                          placeholder="Enter Name" required formControlName="name"
                          [ngClass]="{ 'is-invalid': submitted && form['name'].errors }" />
                      <div *ngIf="submitted && form['name'].errors" class="invalid-feedback"
                          align="left">
                          <div *ngIf="form['name'].errors['required']">Name is required</div>
                      </div>
                  </div>
              </div>
              <!--end col-->
              <div class="col-lg-12">
                <div>
                    <label for="description-field" class="form-label">Space description</label>
                    <textarea class="form-control" id="description-field" placeholder="Enter description for space" required formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && form['description'].errors }"></textarea>
                    <div *ngIf="submitted && form['description'].errors" class="invalid-feedback"
                    align="left">
                    <div *ngIf="form['description'].errors['required']">Description is required
                    </div>
                </div>
                </div>
            </div><!--end col-->
              <!--end col-->
              <div class="col-lg-12">
                  <div>
                      <label for="taginput-choices" class="form-label">Privacy</label>
                      <ng-select [items]="selectValue"  formControlName="privacy"
                          [ngClass]="{ 'is-invalid': submitted && form['privacy'].errors }"></ng-select>
                      <div *ngIf="submitted && form['privacy'].errors" class="invalid-feedback"
                          align="left">
                          <div *ngIf="form['privacy'].errors['required']">Privacy is required</div>
                      </div>
                  </div>
              </div>
          </div>
          <!--end row-->
      </div>
      <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                  (click)="modal.close('Close click')">Close</button>
              <button type="submit" class="btn btn-primary" id="add-btn">Add space</button>
          </div>
      </div>
  </form>
</ng-template>